version: "3.8"

volumes:
  db_value:

services:
  db:
    image: postgres:13.3-alpine
    restart: always
    volumes:
      - db_value:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    env_file:
      - ./.env

  backend:
    image: littump/backend_valuation:latest
    restart: always
    depends_on:
      - db
    env_file:
      - ./.env

  frontend:
    restart: always
    image: littump/frontend_valuation:latest
    expose:
      - 8080
    ports:
      - "8080:80"
    volumes:
      - ../frontend/:/app/
    depends_on:
      - backend

  nginx:
    image: nginx:1.19.3
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
