@tailwind base;
@tailwind components;
@tailwind utilities;
.nav {
  padding-right: calc(40px - (100vw - 100%));
}

html {
  font-family: Proxima Nova, system-ui, sans-serif;
}
.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* width */
.scroll ::-webkit-scrollbar {
  @apply w-1;
}

/* Track */
.scroll ::-webkit-scrollbar-track {
  @apply bg-none;
}

/* Handle */
.scroll ::-webkit-scrollbar-thumb {
  @apply bg-blue-500 rounded-full;
}

@layer components {
  .stroke {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23476BF0FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
  }
  .strokeDark {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%231D2636FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
  }
  .myInput {
    @apply bg-white dark:bg-dark-600 dark:text-dark-200 dark:border-dark-600 sm:w-80 py-2 px-3 rounded-lg transition text-dark-gray-400 font-semibold outline-0 border border-gray focus:text-dark-gray-600 dark:focus:bg-dark-400 dark:focus:border-dark-300;
  }
  .button {
    @apply transition px-3 py-2 rounded-lg cursor-pointer;
  }
  .myCheckbox {
    @apply text-black py-1.5 px-3.5 rounded-lg transition cursor-pointer dark:text-dark-100;
  }
  .checkboxActive {
    @apply bg-blue-500 text-white dark:bg-dark-300 dark:text-dark-700;
  }
  .filter {
    @apply text-black py-1.5 px-3.5 rounded-lg transition cursor-pointer dark:text-dark-100;
  }
  .filterActive {
    @apply bg-black text-white dark:bg-dark-600;
  }
  .graphRange {
    @apply flex flex-col gap-2;
  }

  .close {
    @apply hover:bg-light-gray p-0.5 rounded-lg transition active:bg-blue-400 dark:hover:bg-dark-800 dark:active:bg-dark-300;
  }
}
